fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-groq
langgraph
chromadb
pandas
numpy==1.26.4
streamlit
sentence-transformers
langchain-huggingface
pinecone
langchain-pinecone
langchain-huggingface
